* {
  padding: 0;
  margin: 0;
  outline: none;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  box-sizing: border-box;
}

.home-header {
  width: 100%;
  height: 50px;
  font-size: 18px;
}

.logo-letter-spacing {
  letter-spacing: 10px;
}

.core-render-wrapper {
  position: fixed;
  width: calc(100vw - 320px);
  height: calc(100vh - 55px);
  top: 55px;
  left: 320px;
  color: dark;
  padding: 20px;
}

.common-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.common-wrapper > img {
  width: 50%;
}

.common-wrapper > p {
  font-size: 25px;
  font-weight: bold;
  color: #4285f4;
  opacity: 0.8;
}
